<% title "Narzędzia administracyjne" %>
<% navi_path link_to("Narzędzia administracyjne", admin_path), link_to("Akcje specjalne", admin_special_actions_path), "Nowa akcja" %>
<div id="divAdmin">
  <div class="page_header">
    <h1>Narzędzia administracyjne, Dodaj akcję specjalną</h1>
    <hr />
  </div>
  <div class="content">
    <%= render 'form' %>
  </div>
</div>

