
<% title "Kontakt" %>
<% navi_path("Kontakt") %>
<div class=" main-content-padding">
<div id="divStaticPageContact">
<div class="page_header">
<h1>Kontakt</h1>
<hr>
</div>
<p>Drogi Użytkowniku!</p>
<p>Portal Poemax kontynuuje tradycje serwisu Poema (dostępnego wcześniej pod adresami poema.art.pl i poema.pl), którego twórcą był Arkadiusz Kuryłowicz,
 i wykorzystuje udostępnione przez niego na licencji AGPL oprogramowanie.<br>
 Portal działa w ramach stowarzyszenia Salon Literacki i został powołany do życia przez grupę założycieli zwaną Radą Programową Portalu. Rada przewodzi działaniom Redakcji portalu,
 a także dba o utrzymanie Portalu i jego rozwój.</p>
<p>Bieżącym prowadzeniem portalu zajmuje się jego Redakcja.<p>
<p>Jeśli masz wątpliwości dotyczące obsługi portalu, najpierw zajrzyj do działów <a href="/site/sub_379.html">Pomoc</a> lub
<a href="/site/sub_2496.html">FAQ</a></p>
<p>Jeśli nie znajdziesz tam odpowiedzi na swoje pytania, napisz na główny adres Redakcji, podając swój nick, pod którym zarejestrowałeś się na portalu.</p>
<p>Nie przysyłaj nam próbek swojej twórczości! Opinie na ich temat możesz uzyskać od innych użytkowników portalu publikując je przy użyciu <a href="/publikuj/start">Kreatora publikacji</a>.
Ponadto raz w miesiącu możesz poddać pojedyncze swoje wiersze profesjonalnej krytyce umieszczając je na <a href="/kontener/11-krytyka-poetycka">Biurku Krytyka</a></p>
<p align="center">Główny adres Redakcji to: </p>
<h3 align="center"><a href="mailto:redakcja@poemax.pl">redakcja@poemax.pl</a></h3>
<br>
<br>
<p align="center">Wszelkie żądania usunięcia danych osobowych prosimy zgłaszać wyłącznie na adres: </p>
<h3 align="center"><a href="mailto:dataremove@poemax.pl">dataremove@poemax.pl</a></h3>
<br>
<br>
<p align="center">Informacje o ciekawych wydarzeniach kulturalnych prosimy zgłaszać na adres:</p>
<h3 align="center"><a href="mailto:wydarzenia@poemax.pl">wydarzenia@poemax.pl</a></h3>
<br>
<br>
<table class="contacts" cellpadding="2" align="center">
<tbody>
<tr>
<td colspan="3">
<h3 align="center"><br>Rada Programowa Portalu<br><br></h3>
</td>
</tr>
<tr>
<td>Przewodniczący</td>
<td><a href="/profil/28">Ojciec Redaktor Mirosław 'Milo' Nowicki</a></td>
<td><a href="mailto:milo@poemax.pl">milo@poemax.pl</a></td>
</tr>
 
<tr>
<td>Członkowie Rady</td>
<td>Sławomir Płatek - Salon Literacki<br>Alga (Anna Luberda-Kowal)<br>Anna ‘Brozic’ Sousa<br>Ai	degaart (Akanax)<br>David Samin<br>Jola ‘Jollla’ Zagórska<br>Lena Pelowska<br>Paweł ‘Contigo’ Biliński<br>Tomasz 'TheUnforgiven'<br>Xlax<br>Zuza ‘Sue’ Truchlewska</td>
<td></td>
</tr>
 
<tr>
<td colspan="3">
<h3 align="center"><br>Redakcja Portalu<br><br></h3>
</td>
</tr>
<tr>
<td>Redaktor Techniczny</td>
<td><a href="/profil/17">Paweł 'Contigo' Biliński</a></td>
<td><a href="mailto:contigo@poemax.pl">contigo@poemax.pl</a></td>
</tr>
<tr>
<td>Redaktor Organizacyjny</td>
<td><a href="/profil/26">Lena Pelowska</a></td>
<td><a href="mailto:lena@poemax.pl">lena@poemax.pl</a></td>
</tr>
<tr>
<td>Redaktor Działu Wydarzeń</td>
<td><a href="/profil/23">Alga (Anna Luberda-Kowal)</a></td>
<td><a href="mailto:alga@poemax.pl">alga@poemax.pl</a></td>
</tr>
<tr>
<td>Redakcja Działu Konkursów</td>
<td><a href="/profil/18">Jola 'Jollla' Zagórska</a><br><a href="/profil/22">Zuzanna 'Sue' Truchlewska</a><br></td>
<td></td>
</tr>
<tr>
<td>Redakcja Archiwaxa</td>
<td><a href="/profil/24">Anna 'Brozic' Sousa</a></td>
<td><a href="mailto:brozic@poemax.pl">brozic@poemax.pl</a></td>
</tr>
<tr>
<td>Redaktor Krytyki Poetyckiej</td>
<td><a href="/profil/42">Paweł Podlipniak</a></td>
<td><a href="mailto:krytyk@poemax.pl">krytyk@poemax.pl</a></td>
</tr>
<tr>
<td>Redaktor Warsztatów Haiku</td>
<td><a href="/profil/26">Lena Pelowska</a></td>
<td><a href="mailto:lena@poemax.pl">lena@poemax.pl</a></td>
</tr>
<tr>
<td>Redaktor Warsztatów Haiga</td>
<td><a href="/profil/22">Zuzanna 'sue' Truchlewska</a></td>
<td></td>
</tr>
<tr>
<td>Redaktor Warsztatów Limeryki</td>
<td><a href="/profil/30">Zbigniew 'PaNZeT' Nadratowski</a></td>
<td><a href="mailto:panzet@poemax.pl">panzet@poemax.pl</a></td>
</tr>
<tr>
<td>Redaktor Obserwator</td>
<td><a href="/profil/43">David Samin</a></td>
<td></td>
</tr>
<tr>
<td>Redaktor Moderator</td>
<td><a href="/profil/87">Tomasz 'TheUnforgiven'</a></td>
<td><a href="mailto:theunforgiven@poemax.pl">theunforgiven@poemax.pl</a></td>
</tr>
<tr>
<td>Redaktorzy do Zadań Specjalnych SPECNAX</td>
<td><a href="/profil/29">x l a x</a><br><a href="/profil/25">Akanax</a><br><a href="/profil/31">Norbix</a><br><a href="/profil/24">Brozix</a><br></td>
<td><a href="mailto:xlax@poemax.pl">xlax@poemax.pl</a><br><a href="mailto:akanax@poemax.pl">akanax@poemax.pl</a><br><a href="mailto:---@poemax.pl">---</a><br><a href="mailto:brozic@poemax.pl">brozic@poemax.pl</a></td>
</tr>
</tbody>
</table>
</div>
</div>
