<% title "Licencje" %>
<% navi_path("Licencje") %>

<div id="divStaticPageLicence">
  <div class="page_header">
    <h1>Licencje</h1>
    <hr />
  </div>
  <p>Strona korzysta z następujących licencjonowanych elementów firm lub osób trzecich:</p>
  <ul>
    <li>Ikony serwisów społecznościowych na licencji CC: <a href="http://sawb.deviantart.com/art/Social-Icons-Pack-123247215">http://sawb.deviantart.com/art/Social-Icons-Pack-123247215</a></li>
  </ul>
</div>
