<% title "Narzędzia administracyjne" %>
<% navi_path link_to("Narzędzia administracyjne", admin_path), "Dziennik" %>
<div id="divAdmin">
  <div class="page_header">
    <h1>Narzędzia administracyjne, dziennik</h1>
    <hr />
  </div>
  <div>
    <div class="list">
      <%= render :partial => 'list' %>
    </div>
  </div>
</div>
