<h1>Właśnie <%= mfword('usunąłeś', 'usunęłaś', @user) %> swoje konto w serwisie, <%= @user.name %></h1>

<p>Szkoda, ale mamy nadzieję, że którego dnia do nas powrócisz. Jeśli zmienisz decyzję możesz bez wahania założyć nowe konto.</p>

<h4>Dane osobowe</h4>

<p>W momencie usunięcia konta przestaliśmy prezentować publicznie Twoje dane osobowe. Nie będziemy także wysyłali do Ciebie 
jakichkolwiek wiadomości. Jeśli jednak <%= mfword('znalazłeś', 'znalazłaś', @user) %> na naszych stronach miejsce gdzie nadal pojawiają się Twoje dane osobowe wyślij nam informację 
na adres ??</p>
