<h1><%= mfword('Szanowny użytkowniku', 'Szanowna użytkowniczko', @user) %> serwisu</h1>
<p>Moderator wycofał blokadę Twojego konta w serwisie.</p>
<p>Jeśli chcesz uzyskać dodatkowe informacje, skontaktuj się z redakcją serwisu.</p>
<h4>Pomocne linki:</h4>
<p><%=  url_add_hostname static_page_contact_path %><br />
<%= url_add_hostname terms_path  %></p>
