<h1>Przypominamy Twoje hasło w serwisie, <%= @user.name %></h1>

<p>Otrzymaliśmy od Ciebie prośbę dotyczącą utworzenia nowego hasła. Ustawione hasło to:</p>

<pre>
<%= @password %>
</pre>

<p>Możesz teraz zalogować się w serwisie. jednocześnie przypominamy, że <%= mfword('powinieneś', 'powinnaś', @user) %>
w ustawieniach Twojego profilu zmienić hasło na własne. Dobre hasło ma co najmniej 8 znaków, zawiera małe i duże litery,
cyfry oraz znaki specjalne.</p>
