<h1>Przypominamy Twoje hasło w serwisie, <%= @user.name %></h1>

<p>Otrzymaliśmy od Ciebie prośbę dotyczącą przypomnienia hasła. Jako, że nie jesteśmy w stanie wysłać hasła
  które <%= mfword('ustawiłeś', 'ustawiłaś', @user) %> ponieważ je szyfrujemy, w zamian wysyłamy Ci link, którego możesz
  użyć do zresetowania hasła. Nowe przyślemy pocztą.</p>

<p>Aby dokończyć procedurę resetowania hasła
  <%= link_to 'kliknij w ten link', delete_password_reminder_path(@password_reminder.token, :only_path => false) %>,
  lub otwórz w przeglądarce adres podany poniżej</p>

<pre>
<%= delete_password_reminder_path(@password_reminder.token, :only_path => false) %>
</pre>
