<% title "Nowy komentarz" %>
<% navi_path(@commentable, "Nowy komentarz") %>
<div id="divComments">
  <div class="page_header">
    <h1>Nowy komentarz</h1>
    <hr />
  </div>
  <%= render 'form' %>
</div>
