<p>Aby uzyskać możliwość publikacji własnych artykułów w serwisie powinieneś się zarejestrować. Wystarczy
  przejść poprzez proces rejestracji, wypełniając prezentowane formularze, podając nick, hasło oraz kilka
  innych danych.</p>

<div class="social-signup">
  <h3>Nie lubisz wypełniać formularzy?</h3>
  <p>Jeśli masz konto na jednym z poniższych serwisów, możesz go także użyć do rejestracji i logowania. Wybierz
  serwis w którym masz konto. Ułatwimy Ci proces rejestracji.</p>
  <%= render :partial => 'session/oauth_services' %>
</div>

<p>Pola formularza oznaczone czerwoną kropką należy wypełnić. Pozostałe dane możesz podać, jeśli tego chcesz.
  Oczywiście w późniejszym czasie istnieje możliwość poprawienia wszystkich danych danych. Respektujemy także Twoją
  prywatność, w dowolnym momencie możesz usunąć z serwisu wszystkie Twoje dane.</p>
