<% title "Nowe konto" %>
<% navi_path("Nowe konto", "Potwierdzenie rejestracji") %>
<div id="divSignup">
  <div class="page_header">
    <h1>Twoje nowe konto wymaga aktywacji mailem</h1>
    <hr />
  </div>

  <p>Twoje konto w serwisie zostało utworzone, kolejnym krokiem jest jego aktywacja. <strong>Sprawdź teraz skrzynkę pocztową</strong>,
  której adres podałeś/podałaś podczas rejestracji. Wysłaliśmy na nią list, w którym znajdziesz link aktywacyjny. Po kliknięciu
  w link załączony w liście Twoje konto zostanie aktywowane.
  <br />
  <br />
  Jeśli nie możesz odnaleźć naszego listu sprawdź foldery ze spamem, być może nasz list tam trafił (to źle :) oznacz go jako
  nie-spam). Jeśli nadal nie ma poczty od nas, poczekaj godzinę, lub dwie, czasem doręczenie listu do zatłoczonych serwerów
  zajmuje trochę czasu.</p>
  <br />
  <p>W międzyczasie poczytaj trochę wierszy.</p>
</div>
