<% title "Edycja publikacji" %>
<% navi_path(@publication, "Edycja publikacji") %>
<% js_option('PublicationSimpleForm', true) %>

<div id="divPublications">
  <div class="page_header">
    <h1>Edycja publikacji</h1>
    <hr />
  </div>
  <%= render 'form_edit' %>
</div>
