<p>Drodzy Użytkownicy!</p>

<p>Przed rozpoczęciem korzystania z portalu należy przeczytać regulamin i zobowiązać się do jego przestrzegania.</p>

<p>Najważniejsze zasady, które prosimy mieć zawsze w pamięci podczas korzystania z portalu, to:<br>
- kultura wypowiedzi,<br>
- szacunek dla innych użytkowników,<br>
- niezamieszczanie treści niezgodnych z powszechnie uznawanymi normami etyczno-obyczajowymi, godzących w czyjeś dobre imię, dyskryminujących, nawołujących do nienawiści, rasizmu, obrażających uczucia religijne, niezgodnych z obowiązującą literą prawa.</p>

<p>Niedopuszczalne jest zamieszczanie treści naruszających prawa autorskie, a w szczególności publikowanie cudzych treści jako swoich (plagiat).</p>

<p>Poniżej pełna treść regulaminu. Prosimy o jego uważne przeczytanie.</p><br><br>


<h3>Regulamin Portalu Poemax</h3><br><br>

<h3>1. Wstęp</h3><br>
<p>Serwis internetowy „Poemax – portal poetycki”, osiągalny pod adresem URL http://poemax.pl, zwany dalej Portalem, dostępny jest dla każdej osoby zwanej dalej Użytkownikiem, która zapozna się z niniejszym regulaminem, akceptuje wszystkie jego postanowienia i zobowiązuje się do jego przestrzegania.</p><br>

<h3>2. Cele Portalu</h3><br>
<p>Celami Portalu są:<p>
<p>a) propagowanie kultury i sztuki, ze szczególnym uwzględnieniem poezji, literatury, plastyki i fotografii,</p>
<p>b) likwidacja wykluczenia społecznego i kulturalnego poprzez udostępnienie biblioteki zawierającej zbiory literackie, plastyczne i fotograficzne,</p>
<p>c) aktywizacja społeczna i kulturalna społeczeństwa poprzez zaangażowanie Użytkowników w kontakt z twórcami oraz z kulturą i sztuką,</p>
<p>d) umożliwienie samorozwoju twórcom poprzez udostępnienie platformy umożliwiającej publikację ich twórczości a także komunikację z odbiorcami,</p>
<p>e) promocja i wsparcie twórców.</p><br>

<h3>3. Użytkownik</h3><br>
<p>a) Użytkownik, który dobrowolnie wyrazi chęć współuczestnictwa w Portalu i wypełni elektroniczny formularz rejestracji, otrzymuje unikatowy identyfikator, zwany w dalszej części regulaminu Kontem,</p>
<p>b) wypełniając formularz rejestracji Użytkownik oświadcza, iż podane w formularzu dane są prawdziwe i nie naruszają praw osób trzecich,</p>
<p>c) Użytkownik może posiadać na Portalu wyłącznie jedno Konto,</p>
<p>d) w zależności od przydzielonego poziomu uprawnień, Konto Użytkownika otrzymuje dostęp do odpowiednich funkcji Portalu. Domyślnie, konto otrzymuje uprawnienia umożliwiające dostęp do publicznych funkcji Portalu,</p>
<p>e) Konto wygasa w momencie usunięcia go przez Użytkownika, bądź usunięcia go na wniosek Użytkownika,</p>
<p>f) w przypadku naruszenia postanowień niniejszego regulaminu, mogą zostać odebrane przez Redakcję Portalu niektóre lub wszystkie uprawnienia przypisane do Konta Użytkownika, a treści naruszające Regulamin - usunięte. Cofnięcie uprawnień nie powoduje wygaśnięcia Konta. Cofniecie niektórych lub wszystkich uprawnień Konta zwane jest w dalszej części regulaminu Banem.</p><br>

<h3>4. Treści</h3><br>
<p>Użytkownicy Portalu mają możliwość publikowania widocznych dla innych Użytkowników treści:</p>
<p>a) w formie komentarza, opinii lub głosu w dyskusji zwanymi dalej Opinią,</p>
<p>b) treści własnej lub cudzej, w formie tekstu, grafiki lub informacji zwanymi dalej Publikacją.</p>
<p>Możliwość dodania Opinii lub Publikacji uzależniona jest od posiadania aktywnego Konta oraz od uprawnień przypisanych do Konta.</p><br>

<h3>5. Ograniczenia</h3><br>
<p>Opinie jak i Publikacje nie mogą zawierać:</p>
<p>a) treści reklamowych, o ile nie uzyskały zgody Redakcji Portalu na publikację,</p>
<p>b) treści wprowadzających w błąd innych Użytkowników Portalu,</p>
<p>c) treści obrażających uczucia religijne, nawołujących do szerzenia nienawiści, rasizmu, ksenofobii oraz konfliktów na tle rasowym lub religijnym, dyskryminujących ze względu na wyznanie, pochodzenie, płeć lub orientację seksualną,</p>
<p>d) treści obrażających innych Użytkowników Portalu,</p>
<p>e) treści niezgodnych z ogólnie przyjętymi normami obyczajowo-etycznymi jak i obowiązującą literą prawa; w szczególności niezgodne z literą prawa jest umieszczanie cudzych publikacji jako swoich (plagiat).</p><br>

<h3>6. Twórca Portalu</h3><br>
<p>a) Portal Poemax kontynuuje tradycje serwisu Poema (dostępnego wcześniej pod adresami poema.art.pl i poema.pl), którego twórcą był Arkadiusz Kuryłowicz, i wykorzystuje udostępnione przez niego na licencji AGPL oprogramowanie.</p>
<p>b) Twórcami portalu Poemax jest grupa jego założycieli zwana Radą Programową Portalu. Rada przewodzi działaniom Redakcji portalu, a także dba o utrzymanie Portalu i jego rozwój.</p>
<p>c) aktualny skład Rady Programowej Portalu jest dostępny na stronie kontaktów Portalu,</p>
<p>d) Rada, wspólnie z Właścicielem Portalu, powołuje członków Redakcji Portalu.</p><br>

<h3>7. Właściciel Portalu</h3><br>
<p>Właścicielem Portalu jest Stowarzyszenie Salon Literacki z siedzibą w Warszawie przy ul. Wandy 8A/2. W działalność organizacyjną, utrzymanie Portalu oraz kontakt z Użytkownikami zaangażowane są powołane przez Właściciela i Radę Programową Portalu osoby, zwane dalej Redakcją Portalu. Do Redakcji Portalu mogą być powoływani zarówno członkowie Stowarzyszenia, jak i osoby do niego nienależące.</p><br>

<h3>7. Redakcja Portalu</h3><br>
<p>a) Redakcja, w porozumieniu z Radą, w wyniku głosowania bądź dyskusji przydziela swoim członkom właściwe kompetencje, w szczególności wybiera Redaktora Organizacyjnego oraz Redaktora Technicznego, a także w miarę potrzeb powołuje nowych członków,</p>
<p>b) aktualny skład Redakcji Portalu jest dostępny na stronie kontaktów Portalu,</p>
<p>c) rozwiązanie Redakcji Portalu następuje na wniosek redaktora naczelnego lub w szczególnych przypadkach na wniosek Właściciela Portalu, bądź Rady Programowej Portalu.</p><br>

<h3>8. Prawa i obowiązki Redakcji Portalu</h3><br>
<p>Redakcja Portalu ma obowiązek:</p>
<p>a) bieżącego prowadzenia Portalu i jego działów oraz współpracy z Radą Programową Portalu w zakresie dbania o rozwój Portalu, jego zawartość oraz dobry wizerunek,</p>
<p>b) pomocy Użytkownikom w zakresie obsługi Portalu oraz ochrony ich danych osobowych,</p>
<p>c) rozpatrywania skarg Użytkowników dotyczących Publikacji i Opinii naruszających niniejszy regulamin.</p>

<p>Redakcja Portalu ma prawo do:</p><br>
<p>d) przydzielania lub cofania wg potrzeb, uprawnień dla Konta Użytkownika,</p>
<p>e) edycji, blokowania lub usuwania bez powiadomienia, nie należących do nich Publikacji oraz Opinii, będących sprzecznymi z postanowieniami niniejszego regulaminu lub będących sprzecznymi z założeniami merytorycznymi lub technicznymi Portalu,</p>
<p>f) nakładania czasowych lub permanentnych Banów na Konto Użytkownika jak i blokowania Użytkowników postępujących niezgodnie z postanowieniami niniejszego regulaminu,</p>
<p>g) nieinformowania Użytkownika o działaniach podjętych w stosunku do jego osoby, Konta, Publikacji lub Opinii, na skutek złamania postanowień regulaminu,</p>
<p>h) usunięcia, na wniosek Użytkownika, Konta Użytkownika, na podstawie ustawy z dnia 29 sierpnia 1997 roku o ochronie danych osobowych (t.j. Dz.U. z 2015 r., poz. 2135 ze zm.).</p><br>

<h3>9. Odpowiedzialność Użytkownika</h3><br>
<p>a) zgodnie z art. 14 ustawy z dnia 18 lipca 2002 roku o świadczeniu usług drogą elektroniczną (t.j. Dz.U. z 2016, poz. 1030 ze zm.) Właściciel portalu nie ponosi odpowiedzialności za treści zamieszczane przez Użytkowników, w tym treści Publikacji i Opinii,</p>
<p>b) zgodnie z treścią ustawy z dnia 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych (t.j. Dz.U. z 2016, poz. 666) zwanej dalej Ustawą o prawie autorskim, Użytkownik ma obowiązek przestrzegania praw autorskich w odniesieniu do umieszczanych na Portalu Publikacji,</p>
<p>c) Użytkownik jest właścicielem umieszczonych na Portalu Publikacji własnego autorstwa. Może wnosić do nich poprawki, jak również je usuwać,</p>
<p>d) w przypadku nadania uprawnień grupie Użytkowników lub dokonania cesji praw, odpowiedzialność za Publikację pozostaje w gestii pierwotnego twórcy treści, przy czym modyfikacji lub usunięcia dokonywać może grupa lub beneficjent Publikacji,</p>
<p>e) Użytkownik, umieszczając na Portalu Opinię, wyraża w niej własne zdanie, przez co samodzielnie odpowiada za jej treść, a także skutki ewentualnych roszczeń osób, pokrzywdzonych wskutek umieszczenia Opinii.</p><br>

<h3>10. Prawa autorskie i majątkowe</h3><br>
<p>a) Użytkownik, zgodnie z treścią Ustawy o prawie autorskim zachowuje wszelkie prawa do Publikacji, których jest autorem, co wiąże się z ich pełną ochroną w rozumieniu tejże ustawy,</p>
<p>b) Użytkownik, może dobrowolnie wyrazić wolę przekazania Publikacji, której jest autorem do domeny publicznej. Wola przekazania publikacji wyrażana jest dla każdej z Publikacji indywidualnie poprzez dodatkowe oświadczenie. Publikacja taka udostępniona zostanie wówczas na licencji Creative Commons,</p>
<p>c) umieszczenie przez Użytkownika w bazie danych Portalu:</p>
<p>- Publikacji, do której prawa majątkowe w rozumieniu Ustawy o prawie autorskim przysługują Użytkownikowi,</p>
<p>- Publikacji, do której prawa majątkowe w rozumieniu Ustawy o prawie autorskim nie przysługują Użytkownikowi, lecz dopuszczalne było umieszczenie przez Użytkownika takiej Publikacji na Portalu,</p>
<p>- Opinii</p>
<p>jednoznaczne jest ze zgodą na nieodpłatne, bezterminowe udzielenie Właścicielowi Portalu praw do publicznego prezentowania jej innym Użytkownikom.</p>
<p>Prezentacja dodanej treści może być zrealizowana przy użyciu dowolnych narzędzi w dowolnym miejscu i czasie, z pierwotnej bazy danych lub z jej całościowej bądź częściowej kopii,</p>
<p>d) Użytkownik oświadcza również, iż nie będzie wnosił teraz i w przyszłości żadnych roszczeń finansowych z tytułu prezentacji Publikacji lub Opinii.</p><br>

<h3>11. Odpowiedzialność Właściciela i Rady Programowej Portalu</h3><br>
<p>a) Portal jest przedsięwzięciem niekomercyjnym,</p>
<p>b) Właściciel Portalu nie pobiera od Użytkowników jakichkolwiek gratyfikacji w zamian za udostępnianie, jak i możliwość umieszczania Publikacji lub Opinii,</p>
<p>c) Redakcja Portalu oraz Rada Programowa Portalu nie pobierają za wykonaną na rzecz Portalu jak i Użytkowników pracę wynagrodzenia,</p>
<p>d) Właściciel Portalu nie ponosi żadnej odpowiedzialności za przechowywanie oraz udostępnianie umieszczonych treści, a co za tym idzie nie daje absolutnie żadnej gwarancji na dostępność Portalu oraz dostępu do umieszczonych na Portalu treści,</p>
<p>e) prowadzenie Portalu przez Właściciela oraz Radę Programową Portalu obejmuje:</p>
<p>- stworzenie platformy umożliwiającej umieszczanie, zarządzanie, przeglądanie oraz wyszukiwanie Publikacji i Opinii,</p>
<p>- zapewnienie infrastruktury teleinformatycznej w celu udostępnienia stworzonej platformy.</p><br>

<h3>12. Ochrona danych osobowych</h3><br>
<p>a) administratorem Danych Osobowych jest Stowarzyszenie Salon Literacki, który dokonuje przetwarzania danych osobowych Użytkowników zgodnie z przepisami prawa, w tym w szczególności z przepisami ustawy z dnia 29 sierpnia 1997 roku o ochronie danych osobowych (t. jedn. Dz.U. z 2002 r., nr 101, poz. 926 ze zm.) zwanej dalej Ustawą o ochronie danych osobowych oraz ustawy z dnia 18 lipca 2002 roku o świadczeniu usług drogą elektroniczną (Dz.U. nr 144, poz. 1204 ze zm.),</p>
<p>b) Użytkownik Serwisu zakładając Konto, umieszczając Publikację lub Opinię wyraża zgodę na przetwarzanie jego danych osobowych zgodnie z przepisami Ustawy o ochronie danych osobowych,</p>
<p>c) Użytkownik ma prawo wglądu do przetwarzanych danych osobowych w każdym czasie, jak również prawo do ich poprawiania oraz żądania ich usunięcia z bazy danych Portalu,</p>
<p>d) dane osobowe Użytkownika nie będą przekazywane podmiotom trzecim, za wyjątkiem sytuacji, w której byłoby doszłoby do zmiany właściciela Portalu - wówczas użytkownicy zostaną poinformowani o takiej zmianie.</p><br>

<h3>13. Prywatność</h3><br>
<p>a) Portal przechowuje informacje o dostępie do jego zasobów w postaci dzienników systemowych zawierających czas dostępu, adres IP oraz identyfikator zasobu do którego Użytkownik otrzymał dostęp. Informacje o dostępie do zasobów nie są powiązane z Kontem Użytkownika,</p>
<p>b) działania Użytkowników skutkujące aktualizacją danych w bazie są audytowane w dziennikach systemowych i udostępniane Redaktorom Portalu. Informacje audytu zawierają czas dostępu, adres IP oraz identyfikator aktualizowanego zasobu. Informacje o modyfikacji zasobów są powiązane z Kontem Użytkownika,</p>
<p>c) hasło do Konta Użytkownika, jest szyfrowane funkcją jednokierunkową, uniemożliwiającą jego odczytanie.</p><br>

<h3>14. Postanowienia końcowe</h3><br>
<p>Właściciel Portalu wraz z Radą Programową Portalu zachowują sobie prawo do:</p>
<p>a) ostatecznego rozstrzygania kwestii objętych oraz nieobjętych niniejszym regulaminem</p>
<p>b) zmiany zasad i postanowień niniejszego regulaminu, o czym poinformowani zostaną wszyscy użytkownicy.</p><br>
