<% title "Publikacje użytkownika #{@user.name}" %>
<% navi_path(@user, "Publikacje użytkownika") %>
<div id="divUsers">
  <div class="page_header">
    <h1>Publikacje użytkownika <%= @user.name %></h1>
    <hr />
  </div>

    <div class="list clearfix">
      <%= render 'publications/list', :pagination => true %>
      <% unless @publications.empty? %>
        <div class="sorting-options clearfix">
          <%= render :partial => 'publications/sort', :locals => {:default_sort => @default_sort} %>
        </div>
      <% end %>
    </div>

    <% if @publications.empty? %>
    <p>Użytkownik nie dodał do naszej bazy danych żadnych publikacji.</p>
    <% end %>

</div>
