<p>Legenda:<br/>
  <kbd>+</kbd> obiekt widoczny<br/>
  <kbd>.</kbd> brudnopis, ustawiona opcja niewidoczności<br/>
  <kbd>0</kbd> kontener niewidoczny na liście, z uwagi na brak publikacji<br/>
  <kbd>#</kbd> obiekt niewidoczny, z uwagi na ustawienia widoczności kontenera<br/>
  <kbd>c</kbd> obiekt niewidoczny z uwagi na niewystarczające prawa autorskie<br/>
  <kbd>!</kbd> obiekt zbanowany
</p>