<% title "Usunięcie profilu" %>
<% navi_path("Usunięcie profilu") %>
<div id="divProfile">
  <div class="page_header">
    <h1>Usunięcie profilu</h1>
    <hr />
  </div>
  <%= render "form_delete" %>
</div>
