<% title "Edycja kontenera" %>
<% navi_path(link_to("Publikacje", containers_path), @container, "Edycja kontenera") %>
<div id="divContainers">
  <div class="page_header">
    <h1>Edycja kontenera</h1>
    <hr />
  </div>
  <%= render 'form' %>
</div>
