<% title "Nowy kontener" %>
<% navi_path(@parent_container, "Nowy kontener") %>
<div id="divContainers">
  <div class="page_header">
    <h1>Nowy kontener</h1>
    <hr />
  </div>
  <%= render 'form' %>
</div>
