<div id="divImagesGallery">
  <% unless @uploaded_files.to_a.empty? %>
    <% @uploaded_files.each do |uploaded_file| %>
      <%= link_to uploaded_file_delete_path(uploaded_file), {:class => 'poema_popup', :title => "Usuń plik"} do %>
        <%= image_tag "#{uploaded_file.url :avatar}" %>
      <% end %>
    <% end %>
  <% else %>
    <p>Brak dołączonych plików, możesz dodać jakiś używając akcji "Dodaj nowy plik"</p>
  <% end %>
</div>
