<% title "Dodawanie nowego pliku" %>
<% navi_path(@uploadable, "Dodawanie nowego pliku") %>
<div id="divUploadedFiles">
  <div class="page_header">
    <h1>Dołącz nowy plik</h1>
    <hr />
  </div>
  <%= render 'form' %>
</div>
