<% title "Nowe wydarzenie" %>
<% navi_path(link_to("Wydarzenia", calendars_path), "Nowe wydarzenie") %>
<div id="divCalendars">
  <div class="page_header">
    <h1>Nowe wydarzenie</h1>
    <hr />
  </div>
  <%= render 'form' %>
</div>