<% title "Nie znaleziono poszukiwanej strony" %>
<% navi_path("Nie znaleziono poszukiwanej strony") %>
<div id="divErrors">
  <div class="page_header">
    <h1>404 :/</h1>
    <hr />
  </div>
  <%= render :partial => 'errors/page404' %>
</div>