<% title "Brak dostępu do wybranej strony" %>
<% navi_path("Brak dostępu do wybranej strony") %>
<div id="divErrors">
  <div class="page_header">
    <h1>401 :/</h1>
    <hr />
  </div>
  <%= render :partial => 'errors/page401' %>
</div>