<% title "Sprawdź co ciekawego się u nas dzieje" %>
<% js_option('FrontPage', true)  %>
<div id="divFrontPage">
  <div class="page_header">
    <h1>Co ciekawego?</h1>
    <hr />
  </div>
  <div class="feed" id="feed-container">

  </div>
</div>
