#divStaticPageContact
{
  table.contacts
  {
    border: 2px solid #F9F3E5;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    td
    {
      background: #F9F3E5;
    }
  }
}