<% title "Narzędzia administracyjne" %>
<% navi_path link_to("Narzędzia administracyjne", admin_path), "Użytkownicy" %>
<div id="divAdmin">
  <div class="page_header">
    <h1>Narzędzia administracyjne, użytkownicy</h1>
    <hr />
  </div>
  <div>
    <fieldset class="clearfix">
      <%= render :partial => 'search_form' %>
    </fieldset>
  </div>
</div>
