<% title "Dodanie użytkownika do czarnej listy" %>
<% navi_path("Użytkownicy", @user_blacklisted, "Dodawanie do czarnej listy") %>
<div id="divUserBlacklists">
  <div class="page_header">
    <h1>Dodawanie do czarnej listy</h1>
    <hr />
  </div>
  <%= render 'form' %>
</div>
