<% title "Przypomnienie hasła" %>
<% navi_path("Przypomnienie hasła") %>
<div id="divPasswordReminder">
  <div class="page_header">
    <h1>Link resetujący wysłane</h1>
    <hr />
  </div>

  <p>Zgłoszenie zresetowania hasła zostało przyjęte, sprawdź proszę Twój email <%= @password_reminder.email %>. W skrzynce
  odbiorczej znajdziesz instrukcje pozwalające na dokończenie procedury resetowania hasła.</p>
  <br />

  <p>Doręczenie listu może potrwać jakiś czas, jeśli nie znalazłeś wiadomości w skrzynce odbiorczej poczekaj jakiś czas.
  Sprawdź również skrzynkę na spam, być może nasz list tam przypadkowo trafił. Jeśli w przeciągu 24 godzin nie otrzymasz
  listu, spróbuj ponownie.</p>
</div>